header {
  font-family: "New Rocker", serif;
  text-align: center;
  border-radius: 10%;
  background-image: linear-gradient(355deg, #a80062 -15% -15%, #0035be 123% 123%, #0ff 148% 148%)
  ;
}
  




body {
  background-image: 
  linear-gradient(85deg, #96004a -20% -20%, #0031bb 92% 92%, #0ff 148% 148%);
}
  
label{
  color: #e5eaf5;
}
  
  


h1, h2 {
  font-family: "New Rocker", serif;
  background-image: 
    linear-gradient(85deg, #202400 48% 48%, #1f0a5e 92% 92%, #0ff 148% 148%);

  color: #b61941;
  padding: 16px;
  margin-bottom: 5px;
}

#blogName {
  color: #ffe5ec;
}

main {
  font-family: "New Rocker", serif;
  margin-top: -5px;
  
  
}

.homepage-main {
  margin-top: 34px;
}

.user-name {
  background-color: #84a59d;
}

.blogPost-main {
  margin-top: 34px;
}

/* Nav styles */

.navBar {
  background-color: #244242;
  height: auto;
  width:auto;
  
}

#logout {
  background-color: #84a59d;
}

/* Input/textarea styles */

#titleInput,
#bodyInput,
#comment,
#email-login,
#password-login,
#name-signup,
#email-signup,
#password-signup {
  background-color: #e5eaf5;
}

/* Button styles */

.btn {
  background-color: #ec577c;
}

/* Card styles */

.card-header {
  background-color: #e5eaf5;
}

.card-body {
  background-color: #ffe5ec;
}

.card {
  background-color: #ffe5ec;
}

.card:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transform: scale(1.02);
  transition: all 0.3s ease;
}
